// Specific CSS for your home-page
.container{
 width: 90%;
 margin: 0, auto;
}

.movesContainer {
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  p {
    padding: 0;
  }

}

.statsContainer{
  width: 100%;
  padding: 20px;

}

.card-move{
  margin:2px;
  width: 80px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: black;
  color: white
}
