
<div data-controller="game-loader" class = "container">
  <div data-game-loader-target = "gamesMoves" class = movesContainer>
  </div>
  <div data-game-loader-target = "gamesStats" class = "statsContainer">
  </div>

</div>
