
<div data-controller="game-loader" class = "container">
  <form class ="username-form">
    <label>Username</label>
    <input type="text" id="usernameInput" data-game-loader-target = "username">
    <input type="submit" value="Submit" data-action="click->game-loader#submit">
  </form>

  <form class ="username-form">
  <label>Regular Moves</label>
    <input type="checkbox" id="usernameInput" data-game-loader-target = "regulars" data-action="click->game-loader#filter">
    <label>Checks</label>
    <input type="checkbox" id="usernameInput" data-game-loader-target = "checks" data-action="click->game-loader#filter">
    <label>Checkmates</label>
    <input type="checkbox" id="usernameInput" data-game-loader-target = "mates" data-action="click->game-loader#filter">
    <label>Exclude Captures</label>
    <input type="checkbox" id="usernameInput" data-game-loader-target = "takes" data-action="click->game-loader#filter">
  </form>

  <div data-game-loader-target = "gamesStats" class = "statsContainer" id = "statsContainer">
  </div>

  <div data-game-loader-target = "gamesMoves" class = "movesContainer" id = "movesContainer">
  </div>


</div>

<template id = "template-move">
  <div class = "card-move">
    <p class = "card-move-notation"></p>
    <p class = "card-move-count"></p>
  </div>
</template>
