.stats-type-container{
  width: 90%;
  margin:   4px;
  border-right : 1px solid white;
}

.stats-progression{
  height: 10px;
}

.stats-mates{
  background-color: red;
}
.stats-checks{
  background-color: lightcoral;
}
.stats-normal{
  background-color: lightpink;
}
